.DS_Store
._.DS_Store
tmp.*
build/
build-*.d/
var/
publisher-info.sh
_Headers.cmake
_Sources.cmake
*.sublime-workspace
*.graffle
test/10-run-inotifywait/src/foo.sh
test/03-find/source/
.gitignore
.mulle-make-build-dir
